<p>DBZ is the most zzzz anime</p>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let character of characters">
            <li>{{character.name}} - {{character.power | number}}</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar personaje <small>{{ newCharacter.name }}</small></h3>
        <hr>

        <form (ngSubmit)="addCharacter()">
            <input 
                type="text" 
                placeholder="Nombre"
                name="name" 
                [(ngModel)]="newCharacter.name"
            />

            <input 
                type="number" 
                placeholder="Poder"
                name="power"
                [(ngModel)]="newCharacter.power"    
            />

            <button type="submit">
                Agregar
            </button>
        </form>
    </div>
</div>